ul{
    color: black;
}
a{
    color: black;
    text-decoration: none;
    line-height: 3;
    font-size: 30px;
}

a:visited{
    color: rgb(255, 0, 255);
}
a:hover{
    color: blue;
}